
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@400;500;600;700&display=swap');

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

#app {
  min-height: 100vh;
}

@layer base {
  * {
    outline: none;
  }
  *:focus-visible {
    outline: none;
  }
  input[type="checkbox"] {
    appearance: auto !important;
    accent-color: #2563eb !important;
    cursor: pointer;
  }
}