
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

#app {
  min-height: 100vh;
}

@layer base {
  *:focus-visible {
    outline: 2px solid #2563EB;
    outline-offset: 2px;
  }

  /* Para elementos específicos */
  button:focus-visible,
  a:focus-visible,
  input:focus-visible {
    outline: 2px solid #2563EB;
    outline-offset: 2px;
  }
  input[type="checkbox"] {
    appearance: none !important;
    width: 18px;
    height: 18px;
    border: 1.5px solid #d4d4d8 !important;
    border-radius: 5px !important;
    background-color: #ffffff !important;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: all 0.2s ease-in-out;
  }
  input[type="checkbox"]:checked {
    background-color: #2563eb !important;
    border-color: #2563eb !important;
  }
  input[type="checkbox"]:checked::after {
    content: "";
    position: absolute;
    left: 5.5px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
}